/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.ttf');
}

:root {
  /** my **/
  --ion-color-my-dark: #94BFB0;
  --ion-color-my-dark-rgb: 148, 191, 176;
  --ion-color-my-dark-contrast: #000000;
  --ion-color-my-dark-contrast-rgb: 0, 0, 0;
  --ion-color-my-dark-shade: #82a89b;
  --ion-color-my-dark-tint: #9fc5b8;

  --ion-color-my-light: #FFFFFB;
  --ion-color-my-light-rgb: 255, 255, 251;
  --ion-color-my-light-contrast: #000000;
  --ion-color-my-light-contrast-rgb: 0, 0, 0;
  --ion-color-my-light-shade: #e0e0dd;
  --ion-color-my-light-tint: #fffffb;

  /** primary **/
  --ion-color-primary: #94BFB0;
  --ion-color-primary-rgb: 81, 70, 236;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #82a89b;
  --ion-color-primary-tint: #9fc5b8;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-font-family: 'OpenSans-Light';
}

.ion-color-my-dark {
  --ion-color-base: var(--ion-color-my-dark);
  --ion-color-base-rgb: var(--ion-color-my-dark-rgb);
  --ion-color-contrast: var(--ion-color-my-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-my-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-my-dark-shade);
  --ion-color-tint: var(--ion-color-my-dark-tint);
}

.ion-color-my-light {
  --ion-color-base: var(--ion-color-my-light);
  --ion-color-base-rgb: var(--ion-color-my-light-rgb);
  --ion-color-contrast: var(--ion-color-my-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-my-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-my-light-shade);
  --ion-color-tint: var(--ion-color-my-light-tint);
}


@media (prefers-color-scheme: orange) {
  body {
    --ion-color-my-dark: #F2BB8C;
    --ion-color-my-dark-rgb: 242, 187, 140;
    --ion-color-my-dark-contrast: #000000;
    --ion-color-my-dark-contrast-rgb: 0, 0, 0;
    --ion-color-my-dark-shade: #d5a57b;
    --ion-color-my-dark-tint: #f3c298;

    --ion-color-my-light: #FFF1E6;
    --ion-color-my-light-rgb: 255, 241, 230;
    --ion-color-my-light-contrast: #000000;
    --ion-color-my-light-contrast-rgb: 0, 0, 0;
    --ion-color-my-light-shade: #e0d4ca;
    --ion-color-my-light-tint: #fff2e9;

    --ion-color-primary: #F2BB8C;
    --ion-color-primary-rgb: 81, 70, 236;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #d5a57b;
    --ion-color-primary-tint: #f3c298;
  }
}

body.orange {
  --ion-color-my-dark: #F2BB8C;
  --ion-color-my-dark-rgb: 242, 187, 140;
  --ion-color-my-dark-contrast: #000000;
  --ion-color-my-dark-contrast-rgb: 0, 0, 0;
  --ion-color-my-dark-shade: #d5a57b;
  --ion-color-my-dark-tint: #f3c298;

  --ion-color-my-light: #FFF1E6;
  --ion-color-my-light-rgb: 255, 241, 230;
  --ion-color-my-light-contrast: #000000;
  --ion-color-my-light-contrast-rgb: 0, 0, 0;
  --ion-color-my-light-shade: #e0d4ca;
  --ion-color-my-light-tint: #fff2e9;

  --ion-color-primary: #F2BB8C;
  --ion-color-primary-rgb: 81, 70, 236;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #d5a57b;
  --ion-color-primary-tint: #f3c298;
}

@media (prefers-color-scheme: green) {
  body {
    --ion-color-my-dark: #94BFB0;
    --ion-color-my-dark-rgb: 148, 191, 176;
    --ion-color-my-dark-contrast: #000000;
    --ion-color-my-dark-contrast-rgb: 0, 0, 0;
    --ion-color-my-dark-shade: #82a89b;
    --ion-color-my-dark-tint: #9fc5b8;

    --ion-color-my-light: #FFFFFB;
    --ion-color-my-light-rgb: 255, 255, 251;
    --ion-color-my-light-contrast: #000000;
    --ion-color-my-light-contrast-rgb: 0, 0, 0;
    --ion-color-my-light-shade: #e0e0dd;
    --ion-color-my-light-tint: #fffffb;

    --ion-color-primary: #94BFB0;
    --ion-color-primary-rgb: 81, 70, 236;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #82a89b;
    --ion-color-primary-tint: #9fc5b8;
  }
}

body.green {
  --ion-color-my-dark: #94BFB0;
  --ion-color-my-dark-rgb: 148, 191, 176;
  --ion-color-my-dark-contrast: #000000;
  --ion-color-my-dark-contrast-rgb: 0, 0, 0;
  --ion-color-my-dark-shade: #82a89b;
  --ion-color-my-dark-tint: #9fc5b8;

  --ion-color-my-light: #FFFFFB;
  --ion-color-my-light-rgb: 255, 255, 251;
  --ion-color-my-light-contrast: #000000;
  --ion-color-my-light-contrast-rgb: 0, 0, 0;
  --ion-color-my-light-shade: #e0e0dd;
  --ion-color-my-light-tint: #fffffb;

  --ion-color-primary: #94BFB0;
  --ion-color-primary-rgb: 81, 70, 236;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #82a89b;
  --ion-color-primary-tint: #9fc5b8;
}

@media (prefers-color-scheme: blue) {
  body {
    --ion-color-my-dark: #9AC3E3;
    --ion-color-my-dark-rgb: 154, 195, 227;
    --ion-color-my-dark-contrast: #000000;
    --ion-color-my-dark-contrast-rgb: 0, 0, 0;
    --ion-color-my-dark-shade: #88acc8;
    --ion-color-my-dark-tint: #a4c9e6;

    --ion-color-my-light: #F8FBF9;
    --ion-color-my-light-rgb: 248, 251, 249;
    --ion-color-my-light-contrast: #000000;
    --ion-color-my-light-contrast-rgb: 0, 0, 0;
    --ion-color-my-light-shade: #dadddb;
    --ion-color-my-light-tint: #f9fbfa;

    --ion-color-primary: #94BFB0;
    --ion-color-primary-rgb: 81, 70, 236;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #82a89b;
    --ion-color-primary-tint: #9fc5b8;
  }
}

body.blue {
  --ion-color-my-dark: #9AC3E3;
  --ion-color-my-dark-rgb: 154, 195, 227;
  --ion-color-my-dark-contrast: #000000;
  --ion-color-my-dark-contrast-rgb: 0, 0, 0;
  --ion-color-my-dark-shade: #88acc8;
  --ion-color-my-dark-tint: #a4c9e6;

  --ion-color-my-light: #F8FBF9;
  --ion-color-my-light-rgb: 248, 251, 249;
  --ion-color-my-light-contrast: #000000;
  --ion-color-my-light-contrast-rgb: 0, 0, 0;
  --ion-color-my-light-shade: #dadddb;
  --ion-color-my-light-tint: #f9fbfa;

  --ion-color-primary: #94BFB0;
  --ion-color-primary-rgb: 81, 70, 236;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #82a89b;
  --ion-color-primary-tint: #9fc5b8;
}