/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.ttf');
}

:root {
  /** my **/
  --ion-color-my-dark: #94BFB0;
  --ion-color-my-dark-rgb: 148, 191, 176;
  --ion-color-my-dark-contrast: #000000;
  --ion-color-my-dark-contrast-rgb: 0, 0, 0;
  --ion-color-my-dark-shade: #82a89b;
  --ion-color-my-dark-tint: #9fc5b8;

  --ion-color-my-light: #ffffff;
  --ion-color-my-light-rgb: 255, 255, 251;
  --ion-color-my-light-contrast: #000000;
  --ion-color-my-light-contrast-rgb: 0, 0, 0;
  --ion-color-my-light-shade: #e0e0e0;
  --ion-color-my-light-tint: #ffffff;

  /** primary **/
  --ion-color-primary: #94BFB0;
  --ion-color-primary-rgb: 81, 70, 236;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #82a89b;
  --ion-color-primary-tint: #9fc5b8;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-dark-orange: #e3a27a;
  --ion-color-dark-orange-rgb: 227, 162, 122;
  --ion-color-dark-orange-contrast: #ffffff;
  --ion-color-dark-orange-contrast-rgb: 0, 0, 0;
  --ion-color-dark-orange-shade: #c88f6b;
  --ion-color-dark-orange-tint: #e6ab87;

  --ion-color-light-orange: #fdfaf8;
  --ion-color-light-orange-rgb: 253, 250, 248;
  --ion-color-light-orange-contrast: #000000;
  --ion-color-light-orange-contrast-rgb: 0, 0, 0;
  --ion-color-light-orange-shade: #dfdcda;
  --ion-color-light-orange-tint: #fdfbf9;

  --ion-color-dark-green: #70AF85;
  --ion-color-dark-green-rgb: 112, 175, 133;
  --ion-color-dark-green-contrast: #ffffff;
  --ion-color-dark-green-contrast-rgb: 0, 0, 0;
  --ion-color-dark-green-shade: #639a75;
  --ion-color-dark-green-tint: #7eb791;

  --ion-color-light-green: #f2f8f4;
  --ion-color-light-green-rgb: 242, 248, 244;
  --ion-color-light-green-contrast: #000000;
  --ion-color-light-green-contrast-rgb: 0, 0, 0;
  --ion-color-light-green-shade: #d5dad7;
  --ion-color-light-green-tint: #f3f9f5;

  --ion-color-dark-pink: #c587cd;
  --ion-color-dark-pink-rgb: 197, 135, 205;
  --ion-color-dark-pink-contrast: #ffffff;
  --ion-color-dark-pink-contrast-rgb: 0, 0, 0;
  --ion-color-dark-pink-shade: #ad77b4;
  --ion-color-dark-pink-tint: #cb93d2;

  --ion-color-light-pink: #faf5fb;
  --ion-color-light-pink-rgb: 250, 245, 251;
  --ion-color-light-pink-contrast: #000000;
  --ion-color-light-pink-contrast-rgb: 0, 0, 0;
  --ion-color-light-pink-shade: #dcd8dd;
  --ion-color-light-pink-tint: #fbf6fb;

  --ion-color-dark-blue: #878ECD;
  --ion-color-dark-blue-rgb: 135, 142, 205;
  --ion-color-dark-blue-contrast: #ffffff;
  --ion-color-dark-blue-contrast-rgb: 0, 0, 0;
  --ion-color-dark-blue-shade: #777db4;
  --ion-color-dark-blue-tint: #9399d2;

  --ion-color-light-blue: #f4f4fa;
  --ion-color-light-blue-rgb: 244, 244, 250;
  --ion-color-light-blue-contrast: #000000;
  --ion-color-light-blue-contrast-rgb: 0, 0, 0;
  --ion-color-light-blue-shade: #d7d7dc;
  --ion-color-light-blue-tint: #f5f5fb;

  --ion-font-family: 'OpenSans-Light';
}

.ion-color-my-dark {
  --ion-color-base: var(--ion-color-my-dark);
  --ion-color-base-rgb: var(--ion-color-my-dark-rgb);
  --ion-color-contrast: var(--ion-color-my-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-my-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-my-dark-shade);
  --ion-color-tint: var(--ion-color-my-dark-tint);
}

.ion-color-my-light {
  --ion-color-base: var(--ion-color-my-light);
  --ion-color-base-rgb: var(--ion-color-my-light-rgb);
  --ion-color-contrast: var(--ion-color-my-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-my-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-my-light-shade);
  --ion-color-tint: var(--ion-color-my-light-tint);
}

.ion-color-dark-green {
  --ion-color-base: var(--ion-color-dark-green);
  --ion-color-base-rgb: var(--ion-color-dark-green-rgb);
  --ion-color-contrast: var(--ion-color-dark-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-green-shade);
  --ion-color-tint: var(--ion-color-dark-green-tint);
}

.ion-color-light-green {
  --ion-color-base: var(--ion-color-light-green);
  --ion-color-base-rgb: var(--ion-color-light-green-rgb);
  --ion-color-contrast: var(--ion-color-light-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-green-shade);
  --ion-color-tint: var(--ion-color-light-green-tint);
}

.ion-color-dark-orange {
  --ion-color-base: var(--ion-color-dark-orange);
  --ion-color-base-rgb: var(--ion-color-dark-orange-rgb);
  --ion-color-contrast: var(--ion-color-dark-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-orange-shade);
  --ion-color-tint: var(--ion-color-dark-orange-tint);
}

.ion-color-light-orange {
  --ion-color-base: var(--ion-color-light-orange);
  --ion-color-base-rgb: var(--ion-color-light-orange-rgb);
  --ion-color-contrast: var(--ion-color-light-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-orange-shade);
  --ion-color-tint: var(--ion-color-light-orange-tint);
}

.ion-color-dark-pink {
  --ion-color-base: var(--ion-color-dark-pink);
  --ion-color-base-rgb: var(--ion-color-dark-pink-rgb);
  --ion-color-contrast: var(--ion-color-dark-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-pink-shade);
  --ion-color-tint: var(--ion-color-dark-pink-tint);
}

.ion-color-light-pink {
  --ion-color-base: var(--ion-color-light-pink);
  --ion-color-base-rgb: var(--ion-color-light-pink-rgb);
  --ion-color-contrast: var(--ion-color-light-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-pink-shade);
  --ion-color-tint: var(--ion-color-light-pink-tint);
}

.ion-color-dark-blue {
  --ion-color-base: var(--ion-color-dark-blue);
  --ion-color-base-rgb: var(--ion-color-dark-blue-rgb);
  --ion-color-contrast: var(--ion-color-dark-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-blue-shade);
  --ion-color-tint: var(--ion-color-dark-blue-tint);
}

.ion-color-light-blue {
  --ion-color-base: var(--ion-color-light-blue);
  --ion-color-base-rgb: var(--ion-color-light-blue-rgb);
  --ion-color-contrast: var(--ion-color-light-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-blue-shade);
  --ion-color-tint: var(--ion-color-light-blue-tint);
}

button.alert-button.alert-button-orange {
  color: var(--ion-color-dark-orange);
}

button.alert-button.alert-button-blue {
  color: var(--ion-color-dark-blue);
}

button.alert-button.alert-button-green {
  color: var(--ion-color-dark-green);
}

button.alert-button.alert-button-pink {
  color: var(--ion-color-dark-pink);
}

ion-card {
  border-radius: 20px;
  box-shadow: none !important;
}

ion-fab-button {
  --border-radius: 20px;
  --box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 1.0);
}

ion-list {
  --ion-item-background: transparent;
}

ion-tab-bar.orange {
  border-top: 2px rgb(var(--ion-color-dark-orange-rgb)) solid;
}

ion-tab-bar.blue {
  border-top: 2px rgb(var(--ion-color-dark-blue-rgb)) solid;
}

ion-tab-bar.green {
  border-top: 2px rgb(var(--ion-color-dark-green-rgb)) solid;
}

ion-tab-bar.pink {
  border-top: 2px rgb(var(--ion-color-dark-pink-rgb)) solid;
}

ion-button {
  text-transform: none;
}


#add-rectangle {
  width: 100%;
  height: 88%;
  background: #ffffff;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}

#add-rectangle-title {
  width: 100%;
  height: 2%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#add-rectangle-top {
  width: 100%;
  height: 10%;
  background: #ffffff;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(50%);
}

.save-button {
  --border-radius: 10px;
  --box-shadow: none !important;
  --color: #ffffff;
}

.add-card-orange {
  border: 2px rgb(var(--ion-color-dark-orange-rgb)) solid;
}

.add-card-blue {
  border: 2px rgb(var(--ion-color-dark-blue-rgb)) solid;
}

.add-card-green {
  border: 2px rgb(var(--ion-color-dark-green-rgb)) solid;
}

.add-card-pink {
  border: 2px rgb(var(--ion-color-dark-pink-rgb)) solid;
}
