.todo-card-orange {
    min-height: 96%;
    border: 2px rgb(var(--ion-color-dark-orange-rgb)) solid;
}

.todo-card-blue {
    min-height: 96%;
    border: 2px rgb(var(--ion-color-dark-blue-rgb)) solid;
}

.todo-card-green {
    min-height: 96%;
    border: 2px rgb(var(--ion-color-dark-green-rgb)) solid;
}

.todo-card-pink {
    min-height: 96%;
    border: 2px rgb(var(--ion-color-dark-pink-rgb)) solid;
}

ion-item.green-underline {
    --ion-color-primary: rgb(var(--ion-color-dark-green-rgb));
}

ion-item.blue-underline {
    --ion-color-primary: rgb(var(--ion-color-dark-blue-rgb));
}

ion-item.orange-underline {
    --ion-color-primary: rgb(var(--ion-color-dark-orange-rgb));
}

ion-item.pink-underline {
    --ion-color-primary: rgb(var(--ion-color-dark-pink-rgb));
}
